@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  height: 20vh;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors>* {
  flex: 1 1 170px;
  height: 20vh;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.color-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
}

h4 {
  font-family: "Raleway" !important;
  font-weight: bold !important;
  font-size: 40px !important;
  text-align: center;
}

.color-form input[type=text] {
  height: 2rem;
  width: 12rem;
  border: none;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.color-form > input[type="text"]:focus {
  outline: none;
}


.color-form > button {
  height: 2rem;
  width: 7rem;
  border: none;
  outline: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  letter-spacing: 1px;
}

.color-form > button:hover {
  color: #ffffff;
  transition-duration: 0.5s ease-in-out;
}

input[type="color"] {
	border: none;
  background-color: transparent;
  margin: 6px;
  height: 2rem;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.color p {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}


@media screen and (max-width: 518px) {
  .header {
    margin-bottom: 50px;
  }
}